*{
    font-family: Calibri , Tahoma , sans-serif;
    box-sizing: border-box;
}
#container{
    width: 944px;
    min-height: 200px;
    margin: 0 auto;
    padding: 10px;
}
.item{
    width: 400px;
    height: 300px;
    margin: 30px;
    position: relative;
    display: inline-block;
}
.overlay{
    width: 100%;
    height: 24%;
    background-color: rgba(43, 62, 85,1);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translatey(0);
    color: white;
    opacity: 0;
}
.item:hover .overlay{
    transform: translateY(2px);
    opacity: 1;
}
.item:hover{
    overflow: visible;
}
.item:hover img{
    transform: translateY(-70px);
}
.item img{
    transition: all 0.5s;
}

.overlay h4 , .overlay h3{
    margin: 0;
    padding: 0;
}
.overlay a:link, .overlay a:visited{
    display: block;
    width: fit-content;
    margin-left: 260px;
    margin-top: -35px;
    background-color: #ff5b6e;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}
.overlay h4{
    color: #ff5b6e;
}