*{
    font-family: Calibri , Tahoma , sans-serif;
    box-sizing: border-box;
}
#container{
    width: 944px;
    min-height: 200px;
    margin: 0 auto;
    padding: 10px;
}
.item{
    width: 400px;
    height: 300px;
    margin: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.overlay{
    width: 50%;
    height: 100%;
    background-color: rgba(43, 62, 85,1);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translatex(0) rotateY(90deg);
    transform-origin: left;
    color: white;
    transition: 0.5s;
    opacity: 1;
}
.item:hover .overlay{
    transform: translatex(0) rotatey(0deg);
    transform-origin: left;
}
.item:hover img{
    transform: translatex(100px);
}
.item img{
    transition: all 0.5s;
}

.overlay h4 , .overlay h3{
    margin: 10px;
    padding: 0;
}
.overlay a:link, .overlay a:visited{
    display: block;
    width: fit-content;
    margin-left: 70px;
    margin-top: 176px;
    background-color: #ff5b6e;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}
.overlay h4{
    color: #ff5b6e;
}