*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:lightblue;
}

.sky{
    width:100%;
    height:100vh;
    background:#7fd3ff;
    position:relative;
}

marquee{
    width:100%;
    position:absolute;
    left:0;
}

.clouds-marquee{
    top:20px;
}

.mountains-marquee{
    top:180px;
}

.forest-back-marquee{
    top:340px;
}

.forest-front-marquee{
    top:450px;
}

.clouds{
    width:3000px;
    height:180px;
    background-image:url(MultiBackgrounds/d.png);
    background-repeat:repeat-x;
    background-size:auto 180px;
}

.mountains{
    width:3000px;
    height:350px;
    background-image:url(MultiBackgrounds/c.png);
    background-repeat:repeat-x;
    background-size:auto 350px;
}

.forest-back{
    width:3000px;
    height:250px;
    background-image:url(MultiBackgrounds/e.png);
    background-repeat:repeat-x;
    background-size:auto 250px;
}

.forest-front{
    width:3000px;
    height:300px;
    background-image:url(MultiBackgrounds/a.png);
    background-repeat:repeat-x;
    background-size:auto 300px;
}