* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#base-grid{

    display:grid;
    grid-template-columns:120px 1fr 120px;
    grid-template-rows:80px 1fr 80px;
    grid-template-areas:

        "header header ads"
        "nav article ads"
        "nav footer ads";

    gap:10px;
    height:500px;

}

.group-grid {
    background-color: #96d600;
    padding: 20px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.header{
    grid-area:header;
}

.nav{
    grid-area:nav;
}

.article{
    grid-area:article;
}

.ads{
    grid-area:ads;
}

.footer{
    grid-area:footer;
}