* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#base-grid {

    display: grid;
    grid-template-columns:170px 1fr 170px;
    grid-template-rows:80px 1fr 80px;
    grid-template-areas:

        "header header header"
        "nav main sidebar"
        "footer footer footer";

    height: 550px;
    gap: 10px;
    padding: 10px;

}

.group-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    border-radius: 5px;
}

.HolyGrailLayout {
    grid-area: header;
    background: #086cf2;
}


.nav {
    grid-area: nav;
    background: #65a0f5;
}


.MainContent {
    grid-area: main;
    background: #aaa;
}


.Sidebar {
    grid-area: sidebar;
    background: #65a0f5;
}


.footer {
    grid-area: footer;
    background: #086cf2;
}

}