* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


#base-grid {

    width: 70%;
    height: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:

            "one two three"
            "one four five"
            "one six seven";

    gap: 5px;
}


.group-grid {

    background: #ed1760;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}