*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    color: #A2A2A0;
    text-align: center;
}
.textsize{
    font-size: 35px;
}
#myTable{
    margin: 100px auto;
    border-collapse: collapse;
}
#myTable td , #myTable th{
    padding: 23px 80px;
}
#myTable tr:nth-child(odd){
    background-color: #F9F9F9;
}
#myTable tr:nth-child(even){
    background-color: white;
}
#myTable tr:nth-child(1){
    font-size: 40px;
    color: #9D9B9D;
}
#myTable tr:nth-child(2) td:nth-child(1){
    color: #5D9CEC;
}
#myTable tr:nth-child(2) td:nth-child(2){
    color: #48CFAE;
}
#myTable tr:nth-child(2) td:nth-child(3){
    color: #ED5564;
}
#myTable tr:nth-child(2) td:nth-child(4){
    color: #FFAD33;
}
#myTable tr:nth-child(10) td:nth-child(1){
    background-color: #5D9CEC;
    color: white;
}
#myTable tr:nth-child(10) td:nth-child(2){
    background-color: #48CFAE;
    color: white;
}
#myTable tr:nth-child(10) td:nth-child(3){
    background-color: #ED5564;
    color: white;
}
#myTable tr:nth-child(10) td:nth-child(4){
    background-color: #FFAD33;
    color: white;
}
#myTable td , #myTable th{
    border-right: 6px solid #F0F0F0;
}